<div class="message-box bg_cat--1 mt--30 move-up wow  animate">
    <div class="icon">
        <i class="fas fa-flag"></i>
    </div>
    <div class="content">{{ block.messageBoxContent }}</div>
</div>