<div class="message-box bg_cat--4 mt--30 move-up wow  animate">
    <div class="icon">
        <i class="fas fa-info-circle"></i>
    </div>
    <div class="content">{{ block.messageBoxContent }}</div>
</div>