{% extends 'template_1/_layout' %}

{% block main %}
   <div class="cs-main-wrapp__inner">
      <div class="container padd-only-xs">
         {% include '/template_1/_components/_title_image_banner'  with {'title': 'ABOUT','imageUrl': '/assets/uploads/1590143963_gym-interior-MVLCDET-min.JPG'} %}




         <div class="row-full-width clearfix"></div>
         <div class="vc_row wpb_row vc_row-fluid  padding-lg-110t padding-lg-75b padding-sm-70t padding-sm-70b">
            <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-md-offset-0 vc_col-md-5 vc_col-sm-offset-3 ">
               <div class="vc_column-inner ">
                  <div class="wpb_wrapper">
                     <div class="wpb_single_image wpb_content_element vc_align_left">
                        <figure class="wpb_wrapper vc_figure">
                           <div class="vc_single_image-wrapper   vc_box_border_grey">
                              <img width="369" height="465" src="/assets/uploads/1590143963_gym-interior-MVLCDET-min.JPG" class="vc_single_image-img attachment-full" alt="" srcset="/assets/uploads/1590143963_gym-interior-MVLCDET-min.JPG, /assets/uploads/1590143963_gym-interior-MVLCDET-min.JPG" sizes="(max-width: 369px) 100vw, 369px"></div>
                        </figure>
                     </div>
                  </div>
               </div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-7  margin-sm-20t">
               <div class="vc_column-inner ">
                  <div class="wpb_wrapper">
                     <div class="vc_row wpb_row vc_inner vc_row-fluid ">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                           <div class="vc_column-inner">
                              <div class="wpb_wrapper">
                                 <section class="cs-heading  cs-heading--left cs-heading--c-default cs-heading--modern">
                                    <h3 class="cs-heading__title">ABOUT US.</h3>
                                    <div class="cs-heading__content">
                                       <p>We have been working in the fitness industry for over 10 years. Manufacturing gym equipment from design to completion. Over the years we have developed an understanding of how our products work to best suit people’s needs. Our business has grown and developed into the commercial installation sector and we have been lucky enough to work with many top commercial gym brands such as, Pure Gym, Gym Box and Third Space. </p>
                                       <p>We are very passionate about what we do and love seeing the before and after effect of what has been created. Providing a unique space where people can get fit and healthy.</p>
                                       <p>Given the unusual times we currently find ourselves in, we have decided to broaden our offering into the home gym sector. This is a natural progression for us as it allows us to provide our customers with our extensive knowledge and experience in designing, supplying and installing a bespoke gym for the home. There are many different makes, models and equipment tailored to specific training requirements, we understand this can be very overwhelming. We aim to simplify this process by guiding you, advising you and ensuring all your fitness needs are met from design to build. We don’t just provide you with the kit, we make it happen! We can turn your spare bedroom, garage, shed into a fully kitted out space providing you with the specific equipment to suit your needs.</p>
                                       <p>Please do not hesitate to contact us for a quote or advise we would be more than happy to help you discover your dreams of finally having your own gym.</p>
                                    
                                    </div>
                                 </section>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="row-full-width clearfix"></div>
      </div>
   </div>
{% endblock %}
   