<div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="row-fluid row-no-padding">
   <div class="column_container col-sm-12 ">
      <div>
         <div>
            <section class="container-fluid cs-banner no-padd  play cs-banner--fullheight js-fullheight js-parallax-banner-parent">
               <div class="js-parallax-banner-item" data-parallax-speed="1">
                  <img src="{{imageUrl}}" class="s-img-switch" alt=" baner-top">
               </div>
               <span class="cs-overlay"></span>
               <div class="cs-banner__content js-banner-animation js-fullheight__content">
                  <h1 class="cs-banner__title">{{title}}</h1>
                  <div class="cs-banner__desc">
                     <h6>{{subtitle}}</h6>
                  </div>
               </div>
               <div class="cs-banner__btm-arrow js-cs-scroll-down"><i></i></div>
            </section>
         </div>
      </div>
   </div>
</div>