{% if block.iconBlockIcon|length %}
    {% set image = block.iconBlockIcon.first() %}
{% else %}
    {% set image = {'url': '/assets/icons/1591641278_yeti.svg'} %}
{% endif %}

{% if block.iconBlockOverlayImage|length %}
    {% set overlayImage = block.iconBlockOverlayImage.first() %}
{% else %}
    {% set overlayImage = {'url': '/assets/icons/1591641278_yeti.svg'} %}
{% endif %}


<!-- Overlay Icon Box Start -->
<div class="single-svg-icon-box">
    <div class="grid-overlay" style="background-image: url({{ overlayImage.url }})"></div>
    <div class="inner">
        <div class="icon">
            <img class="icon-img" src="{{image.url}}">
        </div>
        <div class="content">
            <h5 class="heading heading-h5">{{block.iconBlockTitle}}</h5>
            <p>{{block.iconBlockSubTitle}}</p>
        </div>
    </div>
</div>
<!-- Overlay Icon Box End -->
