<div class="widget widget_recent_entries">
   <h6 class="widget__title">Recent Posts</h6>
   <ul>
      {% for blog in craft.entries.section('blog').limit(5).orderBy('postDate desc') %}
      <li>
         <a href="/Blog/{{blog.slug}}">{{blog.title}}</a>
      </li>
      {% endfor %}
   </ul>
</div>