<div class="coca-sidebar">
   <div class="widget widget_search">
      <form role="search" method="get" class="cs-form cs-form--white cs-form--md-height cs-form--xs-width">
         <label>
         <span class="screen-reader-text">Search for:</span>
         <input type="search" class="search-field" placeholder="Search &hellip;" value="" name="s" />
         </label>
         <input type="submit" class="cs-btn cs-btn--xs-mt" value="Search" />
      </form>
   </div>
   {% include '/template_1/blog/_recent' %}
   {# <div class="widget widget_recent_comments">
      <h6 class="widget__title">Recent Comments</h6>
      <ul id="recentcomments">
         <li class="recentcomments"><span class="comment-author-link">John Smith</span> on <a href="#">CREATIVE</a></li>
         <li class="recentcomments"><span class="comment-author-link">Howard Patterson</span> on <a href="#">ALWAYS WITH YOU</a></li>
         <li class="recentcomments"><span class="comment-author-link">Howard Patterson</span> on <a href="#">WHITE SPACE</a></li>
         <li class="recentcomments"><span class="comment-author-link">ALICE DUTY</span> on <a href="#">UNIQUE APPROACH</a></li>
         <li class="recentcomments"><span class="comment-author-link">HOWARD PATTERSON</span> on <a href="#">FRESH EYE</a></li>
      </ul>
   </div> #}
   <div class="widget widget_categories">
      <h6 class="widget__title">Categories</h6>
      <ul>
         <li class="cat-item cat-item-30"><a href="#" >Concept</a>
         </li>
         <li class="cat-item cat-item-34"><a href="#" >Modern</a>
         </li>
      </ul>
   </div>
   {# <div class="widget widget_meta">
      <h6 class="widget__title">Meta</h6>
      <ul>
         <li><a href="#">Log in</a></li>
         <li><a href="#">Entries <abbr title="Really Simple Syndication">RSS</abbr></a></li>
         <li><a href="#">Comments <abbr title="Really Simple Syndication">RSS</abbr></a></li>
         <li><a href="#" title="Powered by WordPress, state-of-the-art semantic personal publishing platform.">WordPress.org</a></li>
      </ul>
   </div> #}
</div>