{% extends 'db_dean/_layout' %}

{% block main %}
   <div class="cs-main-wrapp__inner">
      <div class="container padd-only-xs">
         {% include '/template_1/_components/_title_image_banner'  with {'title': 'ABOUT','imageUrl': '/assets/uploads/1588690328_home1.jpg'} %}




         <div class="row-full-width clearfix"></div>
         <div class="vc_row wpb_row vc_row-fluid  padding-lg-110t padding-lg-75b padding-sm-70t padding-sm-70b">
            <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-md-offset-0 vc_col-md-5 vc_col-sm-offset-3 ">
               <div class="vc_column-inner ">
                  <div class="wpb_wrapper">
                     <div class="wpb_single_image wpb_content_element vc_align_left">
                        <figure class="wpb_wrapper vc_figure">
                           <div class="vc_single_image-wrapper   vc_box_border_grey">
                              <img width="369" height="465" src="/assets/uploads/1590134018_dbdean-home-image.jpeg" class="vc_single_image-img attachment-full" alt="" srcset="/assets/uploads/1590134018_dbdean-home-image.jpeg 369w, /assets/uploads/1590134018_dbdean-home-image.jpeg 238w" sizes="(max-width: 369px) 100vw, 369px"></div>
                        </figure>
                     </div>
                  </div>
               </div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-7  margin-sm-20t">
               <div class="vc_column-inner ">
                  <div class="wpb_wrapper">
                     <div class="vc_row wpb_row vc_inner vc_row-fluid ">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                           <div class="vc_column-inner">
                              <div class="wpb_wrapper">
                                 <section class="cs-heading  cs-heading--left cs-heading--c-default cs-heading--modern">
                                    <h3 class="cs-heading__title">ABOUT US.</h3>
                                    <div class="cs-heading__content">
                                       <p>DBDean is a South Wales-based firm that specialises in the design, build and installation of bespoke windows and doors, providing a wealth of services across the UK.
                                          Creating unique, high-quality and aesthetically pleasing windows and doors, we pride ourselves on the work we deliver, creating tailored solutions for our ever-growing list of happy customers.  </p>
                                    </div>
                                 </section>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="vc_row wpb_row vc_inner vc_row-fluid margin-lg-40t">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                           <div class="vc_column-inner">
                              <div class="wpb_wrapper">
                                 <section class="cs-heading  cs-heading--left cs-heading--c-default cs-heading--modern">
                                    <h6 class="cs-heading__subtitle">About Dean</h6>
                                    <div class="cs-heading__content">
                                       <p>Founded by Dean Owen in 2018, running the business is a labour of love for him; an approach that has enhanced Dean’s reputation for truly caring about the work he carries out.<br>
                                          With over 16 years of deep industry experience, Dean has been integral in some of the most ambitious residential and commercial projects in the country. This has led to Dean’s involvement in the installation of windows and doors for Starbucks, Costa, Greggs, Coffee Nero, Boots, Cardiff Council as well as a string of high-profile footballers. His work has also been featured on an S4C programme that delved into the world of modern design.<br>
                                          Being a trained Surveyor and CAD Draughtsman within the glazing sector paired with his long history of running successful fabrication businesses, there is not a part of the industry Dean hasn’t been involved in. This means you are in safe hands when commissioning him to design and install your new windows and doors.   </p>
                                    </div>
                                 </section>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="vc_row wpb_row vc_inner vc_row-fluid  margin-lg-40t">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                           <div class="vc_column-inner">
                              <div class="wpb_wrapper">
                                 <section class="cs-heading  cs-heading--left cs-heading--c-default cs-heading--default">
                                    <h6 class="cs-heading__subtitle">Services covered by DBDean</h6>
                                    <div class="cs-heading__content">
                                       <p>While covering a wide spectrum of services, Dean is highly in demand for the following:</p>
                                       <ul>
                                          <li>Bespoke Glazing Design, Manufacture and Installation</li>
                                          <li>Aluminium Shopfronts</li>
                                          <li>Automatic Doors</li>
                                          <li>Automatic Gates</li>
                                          <li>Aluminium Bi-folding Doors</li>
                                          <li>Aluminium Sliding Doors</li>
                                          <li>Aluminium Windows & Doors</li>
                                          <li>Aluminium Glazed Roofs</li>
                                          <li>Bonded Glass Roof</li>
                                          <li>Bonded Glass</li>
                                          <li>Glass Balustrades</li>
                                          <li>Window and Door maintenance</li>
                                          <li>Pressed Metal Work</li>
                                          <li>Aluminium Parapets, Soffits and Fascias</li>
                                       </ul>
                                       <p>Eager to provide a modern service, customers of DBDean will only be supplied with the most secure, energy-efficient products on the market, ensuring your grand designs are visually perfect whilst saving you money.<br>
                                          What’s more is that all of the windows and doors supplied come with a guarantee as standard, with only the best, local aluminium systems used.<br>
                                          This gives customers peace of mind and the reassurance that the materials supplied are of the highest quality.   </p>
                                    </div>
                                 </section>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="vc_row wpb_row vc_inner vc_row-fluid margin-lg-40t">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                           <div class="vc_column-inner">
                              <div class="wpb_wrapper">
                                 <section class="cs-heading  cs-heading--left cs-heading--c-default cs-heading--modern">
                                    <h6 class="cs-heading__subtitle">An end-to-end solution</h6>
                                    <div class="cs-heading__content">
                                       <p>From the initial ideas meeting and CAD drawings of your project to the final survey, Dean can provide a 360 service that starts and finishes with him.<br>
                                          Offering that personal touch that so many big firms cannot, working with Dean means you will have one point of contact who is fully aware of every detail of your project.  </p>
                                    </div>
                                 </section>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="vc_row wpb_row vc_inner vc_row-fluid margin-lg-40t">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                           <div class="vc_column-inner">
                              <div class="wpb_wrapper">
                                 <section class="cs-heading  cs-heading--left cs-heading--c-default cs-heading--modern">
                                    <h6 class="cs-heading__subtitle">Request a quotation for windows and doors</h6>
                                    <div class="cs-heading__content">
                                       <p>Whether you are in need of bi-folding doors for a kitchen extension, automatic doors for the office or are an architect seeking a reliable partner to work with, contact Dean today for a free, no-obligation quote.</p>
                                    </div>
                                 </section>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="row-full-width clearfix"></div>
      </div>
   </div>
{% endblock %}
   