{% extends 'template_1/_layout' %}

{% block main %}
   <div class="cs-main-wrapp__inner">
      <div class="container padd-only-xs">
         {% include '/template_1/_components/_title_image_banner'  with {'title': 'BLOG','imageUrl': '/assets/uploads/1588510581_heading-01.jpg'} %}





         
         <div class="row-full-width clearfix"></div>
      </div>
   </div>
{% endblock %}
   