{% extends 'db_dean/_layout' %}

{% block main %}
   <div class="cs-main-wrapp__inner">
      <div class="container padd-only-xs">
         {% include '/template_1/_components/_title_image_banner'  with {'title': 'PORTFOLIO','imageUrl': '/assets/uploads/1590420722_DSC00659.JPG'} %}

         {% include '/template_1/_components/_portfolio_masonary' %}
        

         <div class="row-full-width clearfix"></div>
      </div>
   </div>
{% endblock %}
   