{% extends 'template_2/_layout' %}

{% block main %}
{#    {% include '/template_2/_components/_slider' %}#}


    <!-- Page Conttent -->
    <main class="page-content">
        {% include '/template_2/_components/_call_to_action' %}

        {% include '/template_2/_components/_icon_boxes' %}

        {% include '/template_2/_components/_services' %}

        {% include '/template_2/_components/_progress_area' %}

        {% include '/template_2/_components/_testimonials_slider' %}

        {% include '/template_2/_components/_pricing_table' %}

        {% include '/template_2/_components/_contact_with_map' %}

        {% include '/template_2/_components/_call_to_action_bg' %}
    </main>
{% endblock %}
   