{% extends 'template_2/_layout' %}

{% block main %}
    <!-- Page Conttent -->
    <main class="page-content">
        {% if entry.blockSelection %}
            {% include '/template_2/_components/_blocks' with {'block': entry.blockSelection} %}
        {% endif %}
    </main>
{% endblock %}
   