{% extends '/template_2/_layout' %}

{% block main %}
       <!-- Page Content -->
    <main class="page-content">
        <!-- Start BLog Area -->
        <div class="blog-creative-area bg_color--5 pt--70 pb--100">
            <div class="container">
                <div class="row row--25">
                    <div class="col-lg-8">
                        <div class="bk-title--default text-left pb--50">
                            {% if craft.request.getParam('q') is not null %}
                                {% set query = craft.request.getParam('q') %}
                            {% else %}
                                {% set query = 'Category' %}
                            {% endif %}
                            <h5 class="heading heading-h5 theme-color">Blog Category</h5>
                            <div class="bkseparator--30"></div>
                            <h3 class="heading heading-h3">{{query}}</h3>
                        </div>

                        {% include '/template_2/blog/_category' %}
                    </div>
                    <div class="col-lg-4 mt_md--50 mt_sm--50">
                        {% include '/template_2/blog/_sidebar' %}
                    </div>
                </div>
            </div>
        </div>
        <!-- End BLog Area -->
    </main>
{% endblock %}
