    <!-- Start Call To Action -->
<div class="brook-call-to-action bg_color--24 ptb--40 primary-background">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-6 col-12">
                <div class="call-content essential-cta-content text-center text-sm-left">
                    <h3 class="text-white wow move-up">{{block.callToActionTitle}}</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="call-btn text-center text-md-right mt_mobile--20 wow move-up">
                    <a class="brook-btn bk-btn-white text-theme btn-sd-size essential-btn" href="{{block.callToActionLink}}">{{block.callToActionButtonText}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Call To Action -->
