
/* ===========================
    Shopping Cart Area 
==============================*/

.contact-form {
    .form-group {
        .hidden {
            display: none !important;
        }
    }
}



//.vrm-lookup-container{
//    padding-top:50px;
//    padding-bottom:70px
//}
//@media(min-width:360px){
//    .vrm-lookup-container{
//        padding-top:0
//    }
//}
//@media only screen and (min-width:360px)and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-width:360px)and (min--moz-device-pixel-ratio:1),only screen and (min-width:360px)and (min-device-pixel-ratio:1),only screen and (min-width:360px)and (-webkit-min-device-pixel-ratio:1),only screen and (min-width:360px)and (min-resolution:96dpi),only screen and (min-width:360px)and (min-resolution:1dppx){
//    .vrm-lookup-container{
//        padding-bottom:100px
//    }
//}
//@media only screen and (min-width:360px)and (-webkit-min-device-pixel-ratio:2),only screen and (min-width:360px)and (min--moz-device-pixel-ratio:2),only screen and (min-width:360px)and (min-device-pixel-ratio:2),only screen and (min-width:360px)and (min-resolution:192dpi),only screen and (min-width:360px)and (min-resolution:2dppx){
//    .vrm-lookup-container{
//        padding-bottom:0
//    }
//}
//@media only screen and (min-width:360px)and (-webkit-min-device-pixel-ratio:3),only screen and (min-width:360px)and (min--moz-device-pixel-ratio:3),only screen and (min-width:360px)and (min-device-pixel-ratio:3),only screen and (min-width:360px)and (-webkit-min-device-pixel-ratio:4),only screen and (min-width:360px)and (min-resolution:384dpi),only screen and (min-width:360px)and (min-resolution:3dppx){
//    .vrm-lookup-container{
//        padding-bottom:140px
//    }
//}
.vrm-lookup-container .page-header h1.text-focus{
    text-align:center;
    font-weight:600
}
.vrm-lookup-container .page-header p{
    text-align:center
}
.vrm-lookup-container .vehicle-lookup-bounds{
    width:100%;
    height:80px;
    margin-left:auto;
    margin-right:auto
}
@media(min-width:768px){
    .vrm-lookup-container .vehicle-lookup-bounds{
        max-width:580px;
        height:92px
    }
}
.vrm-lookup-container .vehicle-lookup-bounds div{
    height:100%
}



.vehicle-lookup{
    padding:0;
    vertical-align:middle
}
.vehicle-lookup form{
    height:100%
}
.vehicle-lookup .vrm-container{
    width:100%;
    margin-right:10px
}
@media(min-width:768px){
    .vehicle-lookup .vrm-container{
        margin-right:20px
    }
}
.vehicle-lookup .vrm{
    background-image:url("/template_2/img/vrm-euro.png");
    background-color: #ffffff;
    background-repeat:no-repeat;
    background-size:auto 100%;
    border:2px solid #000;
    border-radius:3px;
    display:inline-block;
    font-family:"Helvetica Neue",Impact,Haettenschweiler,"Arial Narrow Bold",sans-serif;
    height:100%;
    width:100%;
    line-height:1;
    outline:none;
    text-align:center;
    text-transform:uppercase;
    padding:0 0 0 10px;
    font-size:22px;
    font-weight:500
}
@media(min-width:360px){
    .vehicle-lookup .vrm{
        font-size:22px
    }
}
@media(min-width:576px){
    .vehicle-lookup .vrm{
        font-size:22px
    }
}
.vehicle-lookup .vrm::-webkit-input-placeholder{
    color:#777;
    font-family:"Segoe UI",SegoeUI,"Helvetica Neue",Arial,sans-serif;
    font-weight:400;
    text-transform:none;
    font-size:22px
}
@media(min-width:360px){
    .vehicle-lookup .vrm::-webkit-input-placeholder{
        font-size:22px
    }
}
@media(min-width:576px){
    .vehicle-lookup .vrm::-webkit-input-placeholder{
        font-size:22px
    }
}
.vehicle-lookup .vrm:-moz-placeholder{
    color:#777;
    font-family:"Segoe UI",SegoeUI,"Helvetica Neue",Arial,sans-serif;
    font-weight:400;
    text-transform:none;
    font-size:22px
}
@media(min-width:360px){
    .vehicle-lookup .vrm:-moz-placeholder{
        font-size:22px
    }
}
@media(min-width:576px){
    .vehicle-lookup .vrm:-moz-placeholder{
        font-size:22px
    }
}
.vehicle-lookup .vrm::-moz-placeholder{
    color:#777;
    font-family:"Segoe UI",SegoeUI,"Helvetica Neue",Arial,sans-serif;
    font-weight:400;
    text-transform:none;
    font-size:22px
}
@media(min-width:360px){
    .vehicle-lookup .vrm::-moz-placeholder{
        font-size:22px
    }
}
@media(min-width:576px){
    .vehicle-lookup .vrm::-moz-placeholder{
        font-size:22px
    }
}
.vehicle-lookup .vrm:-ms-input-placeholder{
    color:#777;
    font-family:"Segoe UI",SegoeUI,"Helvetica Neue",Arial,sans-serif;
    font-weight:400;
    text-transform:none;
    font-size:22px
}
@media(min-width:360px){
    .vehicle-lookup .vrm:-ms-input-placeholder{
        font-size:22px
    }
}
@media(min-width:576px){
    .vehicle-lookup .vrm:-ms-input-placeholder{
        font-size:22px
    }
}
.vehicle-lookup .vrm::-webkit-input-placeholder{
    color:#777;
    font-family:"Segoe UI",SegoeUI,"Helvetica Neue",Arial,sans-serif;
    font-weight:400;
    text-transform:none;
    font-size:22px
}
.vehicle-lookup .vrm::-moz-placeholder{
    color:#777;
    font-family:"Segoe UI",SegoeUI,"Helvetica Neue",Arial,sans-serif;
    font-weight:400;
    text-transform:none;
    font-size:22px
}
.vehicle-lookup .vrm:-ms-input-placeholder{
    color:#777;
    font-family:"Segoe UI",SegoeUI,"Helvetica Neue",Arial,sans-serif;
    font-weight:400;
    text-transform:none;
    font-size:22px
}
.vehicle-lookup .vrm::-ms-input-placeholder{
    color:#777;
    font-family:"Segoe UI",SegoeUI,"Helvetica Neue",Arial,sans-serif;
    font-weight:400;
    text-transform:none;
    font-size:22px
}
.vehicle-lookup .vrm::placeholder{
    color:#777;
    font-family:"Segoe UI",SegoeUI,"Helvetica Neue",Arial,sans-serif;
    font-weight:400;
    text-transform:none;
    font-size:22px
}
@media(min-width:360px){
    .vehicle-lookup .vrm::-webkit-input-placeholder{
        font-size:22px
    }
    .vehicle-lookup .vrm::-moz-placeholder{
        font-size:22px
    }
    .vehicle-lookup .vrm:-ms-input-placeholder{
        font-size:22px
    }
    .vehicle-lookup .vrm::-ms-input-placeholder{
        font-size:22px
    }
    .vehicle-lookup .vrm::placeholder{
        font-size:22px
    }
}
@media(min-width:576px){
    .vehicle-lookup .vrm::-webkit-input-placeholder{
        font-size:22px
    }
    .vehicle-lookup .vrm::-moz-placeholder{
        font-size:22px
    }
    .vehicle-lookup .vrm:-ms-input-placeholder{
        font-size:22px
    }
    .vehicle-lookup .vrm::-ms-input-placeholder{
        font-size:22px
    }
    .vehicle-lookup .vrm::placeholder{
        font-size:22px
    }
}
.vehicle-lookup .vrm.large-fonts{
    padding-left:16px;
    font-size:22px
}
@media(min-width:360px){
    .vehicle-lookup .vrm.large-fonts{
        font-size:24px
    }
}
@media(min-width:576px){
    .vehicle-lookup .vrm.large-fonts{
        font-size:30px
    }
}
.vehicle-lookup .vrm.large-fonts::-webkit-input-placeholder{
    font-size:22px
}
@media(min-width:360px){
    .vehicle-lookup .vrm.large-fonts::-webkit-input-placeholder{
        font-size:24px
    }
}
@media(min-width:576px){
    .vehicle-lookup .vrm.large-fonts::-webkit-input-placeholder{
        font-size:30px
    }
}
.vehicle-lookup .vrm.large-fonts:-moz-placeholder{
    font-size:22px
}
@media(min-width:360px){
    .vehicle-lookup .vrm.large-fonts:-moz-placeholder{
        font-size:24px
    }
}
@media(min-width:576px){
    .vehicle-lookup .vrm.large-fonts:-moz-placeholder{
        font-size:30px
    }
}
.vehicle-lookup .vrm.large-fonts::-moz-placeholder{
    font-size:22px
}
@media(min-width:360px){
    .vehicle-lookup .vrm.large-fonts::-moz-placeholder{
        font-size:24px
    }
}
@media(min-width:576px){
    .vehicle-lookup .vrm.large-fonts::-moz-placeholder{
        font-size:30px
    }
}
.vehicle-lookup .vrm.large-fonts:-ms-input-placeholder{
    font-size:22px
}
@media(min-width:360px){
    .vehicle-lookup .vrm.large-fonts:-ms-input-placeholder{
        font-size:24px
    }
}
@media(min-width:576px){
    .vehicle-lookup .vrm.large-fonts:-ms-input-placeholder{
        font-size:30px
    }
}
.vehicle-lookup .vrm.large-fonts::-webkit-input-placeholder{
    font-size:22px
}
.vehicle-lookup .vrm.large-fonts::-moz-placeholder{
    font-size:22px
}
.vehicle-lookup .vrm.large-fonts:-ms-input-placeholder{
    font-size:22px
}
.vehicle-lookup .vrm.large-fonts::-ms-input-placeholder{
    font-size:22px
}
.vehicle-lookup .vrm.large-fonts::placeholder{
    font-size:22px
}
@media(min-width:360px){
    .vehicle-lookup .vrm.large-fonts::-webkit-input-placeholder{
        font-size:24px
    }
    .vehicle-lookup .vrm.large-fonts::-moz-placeholder{
        font-size:24px
    }
    .vehicle-lookup .vrm.large-fonts:-ms-input-placeholder{
        font-size:24px
    }
    .vehicle-lookup .vrm.large-fonts::-ms-input-placeholder{
        font-size:24px
    }
    .vehicle-lookup .vrm.large-fonts::placeholder{
        font-size:24px
    }
}
@media(min-width:576px){
    .vehicle-lookup .vrm.large-fonts::-webkit-input-placeholder{
        font-size:30px
    }
    .vehicle-lookup .vrm.large-fonts::-moz-placeholder{
        font-size:30px
    }
    .vehicle-lookup .vrm.large-fonts:-ms-input-placeholder{
        font-size:30px
    }
    .vehicle-lookup .vrm.large-fonts::-ms-input-placeholder{
        font-size:30px
    }
    .vehicle-lookup .vrm.large-fonts::placeholder{
        font-size:30px
    }
}
.vehicle-lookup .vrm.large-fonts .cta{
    font-size:26px
}
.vehicle-lookup .vrm:focus,.vehicle-lookup .vrm.has-value{
    font-size:36px
}
@media(min-width:360px){
    .vehicle-lookup .vrm:focus,.vehicle-lookup .vrm.has-value{
        font-size:36px
    }
}
@media(min-width:576px){
    .vehicle-lookup .vrm:focus,.vehicle-lookup .vrm.has-value{
        font-size:36px
    }
}
.vehicle-lookup .vrm:focus.large-fonts,.vehicle-lookup .vrm.has-value.large-fonts{
    font-size:30px
}
@media(min-width:360px){
    .vehicle-lookup .vrm:focus.large-fonts,.vehicle-lookup .vrm.has-value.large-fonts{
        font-size:38px
    }
}
@media(min-width:576px){
    .vehicle-lookup .vrm:focus.large-fonts,.vehicle-lookup .vrm.has-value.large-fonts{
        font-size:52px
    }
}
.vehicle-lookup .vrm:focus::-webkit-input-placeholder,.vehicle-lookup .vrm.has-value::-webkit-input-placeholder{
    opacity:0
}
.vehicle-lookup .vrm:focus::-moz-placeholder,.vehicle-lookup .vrm.has-value::-moz-placeholder{
    opacity:0
}
.vehicle-lookup .vrm:focus:-ms-input-placeholder,.vehicle-lookup .vrm.has-value:-ms-input-placeholder{
    opacity:0
}
.vehicle-lookup .vrm:focus::-ms-input-placeholder,.vehicle-lookup .vrm.has-value::-ms-input-placeholder{
    opacity:0
}
.vehicle-lookup .vrm:focus::placeholder,.vehicle-lookup .vrm.has-value::placeholder{
    opacity:0
}
.vehicle-lookup .vrm:focus{
    outline:none
}
.vehicle-lookup .vrm:focus::-webkit-input-placeholder{
    opacity:0
}
.vehicle-lookup .vrm:focus::-moz-placeholder{
    opacity:0
}
.vehicle-lookup .vrm:focus:-ms-input-placeholder{
    opacity:0
}
.vehicle-lookup .vrm:focus::-ms-input-placeholder{
    opacity:0
}
.vehicle-lookup .vrm:focus::placeholder{
    opacity:0
}


.vehicle-lookup {

    .cta{
        background-color:#777;
        border:0;
        border-radius:3px;
        font-size:16px;
        font-weight:500;
        width:100%;
        min-height:54px;
        padding:0 20px;
        text-align:center;
        vertical-align:middle;
        cursor:pointer;
        text-decoration:none
    }
    .cta.primary{
        background-color:#2e58a4;
        color:#fff
    }
    .cta.secondary{
        background-color:#464646;
        color:#fff
    }
    .cta.tertiary{
        background-color:#777;
        color:#fff
    }
    .cta.bordered{
        border:2px solid #000
    }
    .cta.ghost{
        background-color:transparent;
        color:inherit;
        border:2px solid;
        border-color:inherit
    }
    .cta.invert{
        border-color:#fff;
        color:#fff
    }
    .cta.cta-text{
        background:0 0;
        border:none;
        padding:0;
        font-size:inherit;
        color:inherit;
        font-weight:400;
        height:auto
    }
    .cta.cta-image{
        background:0 0;
        border:none;
        padding:0;
        min-height:0;
        min-width:0;
        height:28px;
        width:28px
    }
    .cta.busy{
        pointer-events:none;
        cursor:default
    }
    .cta.focus-border:focus{
        border:3px solid #333;
        border-radius:3px;
        outline:0
    }
    .cta.focus-border:focus.secondary{
        border-color:#000
    }
    .cta.delete{
        background-color:#eb3939;
        color:#fff
    }
    .cta.sub{
        width:auto;
        height:auto;
        min-height:50px;
        min-width:106px;
        display:inline-block;
        font-weight:500;
        padding:0 25px;
        line-height:1
    }
    @media(min-width:576px){
        div.accent.accent-box{
            margin-top:25px;
            margin-bottom:20px;
            padding:12px 12px 16px
        }
        .cta{
            font-size:17px;
            height:60px
        }
        .cta.sub-sm{
            width:auto;
            height:auto;
            min-height:50px;
            min-width:106px;
            display:inline-block;
            font-weight:500;
            padding:0 25px;
            line-height:1
        }
    }
    @media(min-width:768px){
        .cta.sub-md{
            width:auto;
            height:auto;
            min-height:50px;
            min-width:106px;
            display:inline-block;
            font-weight:500;
            padding:0 25px;
            line-height:1
        }
    }
    @media(min-width:992px){
        .cta.sub-lg{
            width:auto;
            height:auto;
            min-height:50px;
            min-width:106px;
            display:inline-block;
            font-weight:500;
            padding:0 25px;
            line-height:1
        }
    }
    @media(min-width:1200px){
        .cta.sub-xl{
            width:auto;
            height:auto;
            min-height:50px;
            min-width:106px;
            display:inline-block;
            font-weight:500;
            padding:0 25px;
            line-height:1
        }
    }
    .cta .cta-icon{
        color:inherit;
        vertical-align:middle;
        margin:0 8px 0 0;
        width:18px
    }
    .cta .loading{
        text-align:center;
        display:inline-block;
        width:100%
    }
    .cta .loading img{
        height:54px;
        vertical-align:middle
    }
    .cta span{
        color:inherit;
        font-weight:600;
        line-height:1;
        text-align:center
    }
    .cta .chevron{
        vertical-align:middle;
        display:inline-block;
        height:10px;
        width:6px;
        margin-left:10px;
        margin-top:-2px
    }
    @media(min-width:576px){
        .cta .chevron{
            height:12px;
            width:10px;
            margin-left:16px;
            margin-top:-4px
        }
    }
    .cta .chevron-left{
        margin-left:0;
        margin-right:4px
    }
    .cta:disabled,.cta[disabled]{
        background-color:#d8d8d8;
        color:#fff
    }
    .cta-section{
        display:inline-flex
    }
    .cta-section .cta{
        flex-grow:1
    }
    .cta-section .cta:first-child{
        border-radius:3px 0 0 3px
    }
    .cta-section .cta:last-child{
        border-radius:0 3px 3px 0
    }
    .cta-section.toggle .cta{
        background-color:#ededed;
        color:#333
    }
    .cta-section.toggle .cta.toggled{
        background-color:#464646;
        color:#fff
    }
    a.cta{
        display:flex;
        flex-direction:column;
        justify-content:center;
        line-height:1;
        -webkit-text-decoration-line:none;
        text-decoration-line:none
    }
    a.cta span{
        padding:10px
    }

    .cta .chevron {
        vertical-align: middle;
        display: inline-block;
        height: 10px;
        width: 6px;
        margin-left: 10px;
        margin-top: -2px;
    }
}



.vrm-lookup-container .vehicle-lookup .cta.primary.sub,.vrm-lookup-container .vehicle-lookup .vrm{
    transition:.1s;
    -webkit-box-shadow:0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
    box-shadow:0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08)
}
.vrm-lookup-container .vehicle-lookup .cta.primary.sub:hover,.vrm-lookup-container .vehicle-lookup .vrm:hover{
    -webkit-box-shadow:0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);
    box-shadow:0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08)
}
.vrm-lookup-container .vehicle-lookup .cta.primary.sub:hover{
    background-color:#00a146
}






.mini-cart{
    position: relative;
    
    @media #{$large-mobile} {
        order: 2;
    }
    .minicart-trigger{
        button{

        }
    }
    .shopping-cart{
        position: absolute;
        top: 100%;
        z-index: 99;
        right: 0;
        display: none;
        overflow: auto;
        padding: 30px 20px 27px;
        max-height: 700px;
        width: 360px;
        border-bottom: 2px solid #0038E3;
        background-color: #fff;
        box-shadow: 0 10px 30px rgba(0,0,0,.12);

        @media #{$small-mobile} {
            width: 207px;
            padding: 30px 17px 27px;
        }

        @media #{$large-mobile} {
            width: 250px;
        }

        .shop-inner{
            ul{
                &.product-list{
                    list-style: none outside;
                    padding: 0;
                    margin: 0;
                    max-height: 340px;
                    overflow-y: auto;
                    li{
                        display: flex;
                        .thumb{
                            margin-right: 15px;
                            flex-grow: 0;

                            @media #{$large-mobile} {
                                margin-right: 8px;
                            }
                            a{
                                img{
                                    width: 80px;
                                }
                            }
                        }
                        .content{
                            position: relative;
                            flex-grow: 1;
                            padding-right: 20px;
                            .inner{
                                h4{
                                    margin-bottom: 0px;
                                    line-height: 20px;
                                    a{
                                        font-size: 16px;
                                        font-weight: 600;
                                        color: $body-color;
                                        -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
                                        transition: all .3s cubic-bezier(.645,.045,.355,1);
                                        &:hover{
                                            color: $theme-color;
                                        }
                                        @media #{$large-mobile} {
                                            font-size: 14px;
                                        }
                                    }
                                }   
                                .quatity{
                                    span{
                                        display: inline-block;
                                        font-size: 15px;
                                        font-weight: 600;
                                        color: $body-color;
                                    }
                                }
                            }
                            .delete-btn{
                                position: absolute;
                                right: 0;
                                top: 4px;
                                font-size: 18px;
                                border: 0 none;
                                &:hover{
                                    color: $theme-color;
                                }
                            }
                        }
                        & + li{
                            margin-top: 20px;
                        }

                    }
                }
            }
        }

        .footer{
            margin-top: 30px;
            padding-top: 22px;
            border-top: 1px solid #eee;
            .total{
                width: 100%;
                font-size: 15px;
                margin-bottom: 10px;
                font-weight: 700;
                color: $body-color;
                span{
                    font-weight: 600;
                    color: $body-color;
                    padding-left: 3px;
                }
            }
            a{
                &.cart-btn{
                    font-size: 14px;
                    font-weight: 600;
                    color: #ffffff;
                    border-color: #0038E3;
                    background-color: #0038E3;
                    font-family: $body-font;
                    height: 55px;
                    line-height: 53px;
                    outline: none;
                    border-width: 1px;
                    border-style: solid;
                    border-radius: 6px;
                    box-shadow: 0 10px 20px rgba(0,0,0,.07);
                    min-width: 176px;
                    text-align: center;
                    display: inline-block;
                    &:hover{
                        -webkit-transform: translateY(-3px);
                        -ms-transform: translateY(-3px);
                        transform: translateY(-3px);
                    }
                }
            }
        }

    }

}























