{% extends '/template_1/_layout' %}

{% block main %}

<div class="cs-main-wrapp__inner">
   <div class="container padd-only-xs">
      <div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="row row-fluid row-no-padding">
         <div class="column_container col-sm-12 ">
            <div class="column-inner ">
               <div>
                  <section class="container-fluid cs-banner no-padd  play  js-parallax-banner-parent">
                     <div class="js-parallax-banner-item" data-parallax-speed="1">
                        <img src="/assets/images/banner-16.jpg" class="s-img-switch"
                           alt="">
                     </div>
                     <span class="cs-overlay"></span>
                     <div class="cs-banner__content js-banner-animation ">
                        <h1 class="cs-banner__title">{{entry.title}}</h1>
                     </div>
                  </section>
               </div>
            </div>
         </div>
      </div>
      <div class="row-full-width clearfix"></div>
      <div class="row row-fluid  padding-lg-110t padding-lg-50b padding-sm-70t padding-sm-40b">
         <div class="column_container col-sm-12 ">
            <div class="column-inner ">
               <div>
                  <div data-unique-key="137f9ee2654c6e847fc2b921a07f8ff4" class="js-cs-load-more" data-start-page="1" data-max-page="1" data-next-link="">
                     <div class=" cs-block cs-block--books js-cs-block--books cs-block--col3 cs-block--gap15  no-footer-content ">
                        <div class="cs-block__item  p_f_842dfed">
                           <div class="cs-block__item-wrapp">
                              <div class="cs-portfolio cs-portfolio--books">
                                 <div class="cs-portfolio__img cs-portfolio__img--books cs-portfolio__img--align-center cs-portfolio__img--overlay cs-portfolio__img--inner-show">
                                    <img width="370" height="370" src="/assets/images/book-09.jpg" class="s-img-switch wp-post-image" alt="" srcset="/assets/images/book-09.jpg 370w, /assets/images/book-09-150x150.jpg 150w, /assets/images/book-09-300x300.jpg 300w, /assets/images/book-09-100x100.jpg 100w" sizes="(max-width: 370px) 100vw, 370px" />
                                    <div class="cs-portfolio__overlay cs-portfolio__overlay--dark cs-portfolio__overlay--hidden"></div>
                                    <div class="cs-portfolio__inner cs-portfolio__inner--hidden">
                                       <a href="#" class="cs-btn cs-btn--c-custom cs-portfolio__btn" target="_blank">READ MORE</a>
                                    </div>
                                 </div>
                                 <div class="cs-portfolio__content cs-portfolio__content--books">
                                    <h5 class="cs-portfolio__title cs-portfolio__title--books cs-portfolio__title--link"><a href="#" target="_blank">UNDERSTANDING ARCHITECTURE</a></h5>
                                    <div class="cs-portfolio__pix cs-portfolio__pix--books cs-portfolio__pix--content">
                                       By Robert McCarter, Juhani Palfasmaa                    
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="cs-block__item  p_f_3a32f09">
                           <div class="cs-block__item-wrapp">
                              <div class="cs-portfolio cs-portfolio--books">
                                 <div class="cs-portfolio__img cs-portfolio__img--books cs-portfolio__img--align-center cs-portfolio__img--overlay cs-portfolio__img--inner-show">
                                    <img width="370" height="370" src="/assets/images/book-08.jpg" class="s-img-switch wp-post-image" alt="" srcset="/assets/images/book-08.jpg 370w, /assets/images/book-08-150x150.jpg 150w, /assets/images/book-08-300x300.jpg 300w, /assets/images/book-08-100x100.jpg 100w" sizes="(max-width: 370px) 100vw, 370px" />
                                    <div class="cs-portfolio__overlay cs-portfolio__overlay--dark cs-portfolio__overlay--hidden"></div>
                                    <div class="cs-portfolio__inner cs-portfolio__inner--hidden">
                                       <a href="#" class="cs-btn cs-btn--c-custom cs-portfolio__btn" target="_blank">
                                       READ MORE                    </a>
                                    </div>
                                 </div>
                                 <div class="cs-portfolio__content cs-portfolio__content--books">
                                    <h5 class="cs-portfolio__title cs-portfolio__title--books cs-portfolio__title--link"><a href="#" target="_blank">WELL CONNECTED ARCHITECTURE</a></h5>
                                    <div class="cs-portfolio__pix cs-portfolio__pix--books cs-portfolio__pix--content">
                                       By Ian Ritchie, Margot Nellson                    
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="cs-block__item  p_f_5e7b7ce">
                           <div class="cs-block__item-wrapp">
                              <div class="cs-portfolio cs-portfolio--books">
                                 <div class="cs-portfolio__img cs-portfolio__img--books cs-portfolio__img--align-center cs-portfolio__img--overlay cs-portfolio__img--inner-show">
                                    <img width="370" height="370" src="/assets/images/book-07.jpg" class="s-img-switch wp-post-image" alt="" srcset="/assets/images/book-07.jpg 370w, /assets/images/book-07-150x150.jpg 150w, /assets/images/book-07-300x300.jpg 300w, /assets/images/book-07-100x100.jpg 100w" sizes="(max-width: 370px) 100vw, 370px" />
                                    <div class="cs-portfolio__overlay cs-portfolio__overlay--dark cs-portfolio__overlay--hidden"></div>
                                    <div class="cs-portfolio__inner cs-portfolio__inner--hidden">
                                       <a href="#" class="cs-btn cs-btn--c-custom cs-portfolio__btn" target="_blank">
                                       READ MORE                    </a>
                                    </div>
                                 </div>
                                 <div class="cs-portfolio__content cs-portfolio__content--books">
                                    <h5 class="cs-portfolio__title cs-portfolio__title--books cs-portfolio__title--link"><a href="#" target="_blank">50 BUILDINGS THAT CHANGED</a></h5>
                                    <div class="cs-portfolio__pix cs-portfolio__pix--books cs-portfolio__pix--content">
                                       By Marcus Ibraham                    
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="cs-block__item  p_f_5f18ce1">
                           <div class="cs-block__item-wrapp">
                              <div class="cs-portfolio cs-portfolio--books">
                                 <div class="cs-portfolio__img cs-portfolio__img--books cs-portfolio__img--align-center cs-portfolio__img--overlay cs-portfolio__img--inner-show">
                                    <img width="370" height="370" src="/assets/images/book-06.jpg" class="s-img-switch wp-post-image" alt="" srcset="/assets/images/book-06.jpg 370w, /assets/images/book-06-150x150.jpg 150w, /assets/images/book-06-300x300.jpg 300w, /assets/images/book-06-100x100.jpg 100w" sizes="(max-width: 370px) 100vw, 370px" />
                                    <div class="cs-portfolio__overlay cs-portfolio__overlay--dark cs-portfolio__overlay--hidden"></div>
                                    <div class="cs-portfolio__inner cs-portfolio__inner--hidden">
                                       <a href="#" class="cs-btn cs-btn--c-custom cs-portfolio__btn" target="_blank">
                                       READ MORE                    </a>
                                    </div>
                                 </div>
                                 <div class="cs-portfolio__content cs-portfolio__content--books">
                                    <h5 class="cs-portfolio__title cs-portfolio__title--books cs-portfolio__title--link"><a href="#" target="_blank">INSERDET ARCHITECTURE</a></h5>
                                    <div class="cs-portfolio__pix cs-portfolio__pix--books cs-portfolio__pix--content">
                                       By Helley Jourden                    
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="cs-block__item  p_f_3153f9e">
                           <div class="cs-block__item-wrapp">
                              <div class="cs-portfolio cs-portfolio--books">
                                 <div class="cs-portfolio__img cs-portfolio__img--books cs-portfolio__img--align-center cs-portfolio__img--overlay cs-portfolio__img--inner-show">
                                    <img width="370" height="370" src="/assets/images/book-05.jpg" class="s-img-switch wp-post-image" alt="" srcset="/assets/images/book-05.jpg 370w, /assets/images/book-05-150x150.jpg 150w, /assets/images/book-05-300x300.jpg 300w, /assets/images/book-05-100x100.jpg 100w" sizes="(max-width: 370px) 100vw, 370px" />
                                    <div class="cs-portfolio__overlay cs-portfolio__overlay--dark cs-portfolio__overlay--hidden"></div>
                                    <div class="cs-portfolio__inner cs-portfolio__inner--hidden">
                                       <a href="#" class="cs-btn cs-btn--c-custom cs-portfolio__btn" target="_blank">
                                       READ MORE                    </a>
                                    </div>
                                 </div>
                                 <div class="cs-portfolio__content cs-portfolio__content--books">
                                    <h5 class="cs-portfolio__title cs-portfolio__title--books cs-portfolio__title--link"><a href="#" target="_blank">SOFWARE ARCHITECTURE</a></h5>
                                    <div class="cs-portfolio__pix cs-portfolio__pix--books cs-portfolio__pix--content">
                                       By Ibraham Lenor                    
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="cs-block__item  p_f_a0e6f4e">
                           <div class="cs-block__item-wrapp">
                              <div class="cs-portfolio cs-portfolio--books">
                                 <div class="cs-portfolio__img cs-portfolio__img--books cs-portfolio__img--align-center cs-portfolio__img--overlay cs-portfolio__img--inner-show">
                                    <img width="370" height="370" src="/assets/images/book-04.jpg" class="s-img-switch wp-post-image" alt="" srcset="/assets/images/book-04.jpg 370w, /assets/images/book-04-150x150.jpg 150w, /assets/images/book-04-300x300.jpg 300w, /assets/images/book-04-100x100.jpg 100w" sizes="(max-width: 370px) 100vw, 370px" />
                                    <div class="cs-portfolio__overlay cs-portfolio__overlay--dark cs-portfolio__overlay--hidden"></div>
                                    <div class="cs-portfolio__inner cs-portfolio__inner--hidden">
                                       <a href="#" class="cs-btn cs-btn--c-custom cs-portfolio__btn" target="_blank">
                                       READ MORE                    </a>
                                    </div>
                                 </div>
                                 <div class="cs-portfolio__content cs-portfolio__content--books">
                                    <h5 class="cs-portfolio__title cs-portfolio__title--books cs-portfolio__title--link"><a href="#" target="_blank">THE FUTURE OF ARCHITECTURE</a></h5>
                                    <div class="cs-portfolio__pix cs-portfolio__pix--books cs-portfolio__pix--content">
                                       By Marc Kushner                    
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="cs-block__item  p_f_2d5792c">
                           <div class="cs-block__item-wrapp">
                              <div class="cs-portfolio cs-portfolio--books">
                                 <div class="cs-portfolio__img cs-portfolio__img--books cs-portfolio__img--align-center cs-portfolio__img--overlay cs-portfolio__img--inner-show">
                                    <img width="370" height="370" src="/assets/images/book-03.jpg" class="s-img-switch wp-post-image" alt="" srcset="/assets/images/book-03.jpg 370w, /assets/images/book-03-150x150.jpg 150w, /assets/images/book-03-300x300.jpg 300w, /assets/images/book-03-100x100.jpg 100w" sizes="(max-width: 370px) 100vw, 370px" />
                                    <div class="cs-portfolio__overlay cs-portfolio__overlay--dark cs-portfolio__overlay--hidden"></div>
                                    <div class="cs-portfolio__inner cs-portfolio__inner--hidden">
                                       <a href="#" class="cs-btn cs-btn--c-custom cs-portfolio__btn" target="_blank">
                                       READ MORE                    </a>
                                    </div>
                                 </div>
                                 <div class="cs-portfolio__content cs-portfolio__content--books">
                                    <h5 class="cs-portfolio__title cs-portfolio__title--books cs-portfolio__title--link"><a href="#" target="_blank">GREAT EXPOSITIONS 1937-1959</a></h5>
                                    <div class="cs-portfolio__pix cs-portfolio__pix--books cs-portfolio__pix--content">
                                       By Nika Devos, Alexander Ottenberg, Vladimir Paperny                    
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="cs-block__item  p_f_609cf25">
                           <div class="cs-block__item-wrapp">
                              <div class="cs-portfolio cs-portfolio--books">
                                 <div class="cs-portfolio__img cs-portfolio__img--books cs-portfolio__img--align-center cs-portfolio__img--overlay cs-portfolio__img--inner-show">
                                    <img width="370" height="370" src="/assets/images/book-02.jpg" class="s-img-switch wp-post-image" alt="" srcset="/assets/images/book-02.jpg 370w, /assets/images/book-02-150x150.jpg 150w, /assets/images/book-02-300x300.jpg 300w, /assets/images/book-02-100x100.jpg 100w" sizes="(max-width: 370px) 100vw, 370px" />
                                    <div class="cs-portfolio__overlay cs-portfolio__overlay--dark cs-portfolio__overlay--hidden"></div>
                                    <div class="cs-portfolio__inner cs-portfolio__inner--hidden">
                                       <a href="#" class="cs-btn cs-btn--c-custom cs-portfolio__btn" target="_blank">
                                       READ MORE                    </a>
                                    </div>
                                 </div>
                                 <div class="cs-portfolio__content cs-portfolio__content--books">
                                    <h5 class="cs-portfolio__title cs-portfolio__title--books cs-portfolio__title--link"><a href="#" target="_blank">SOFWARE ENGINEERING DESIGN</a></h5>
                                    <div class="cs-portfolio__pix cs-portfolio__pix--books cs-portfolio__pix--content">
                                       By Carlos E. Otero                    
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="cs-block__item  p_f_8953663">
                           <div class="cs-block__item-wrapp">
                              <div class="cs-portfolio cs-portfolio--books">
                                 <div class="cs-portfolio__img cs-portfolio__img--books cs-portfolio__img--align-center cs-portfolio__img--overlay cs-portfolio__img--inner-show">
                                    <img width="370" height="370" src="/assets/images/book-01.jpg" class="s-img-switch wp-post-image" alt="" srcset="/assets/images/book-01.jpg 370w, /assets/images/book-01-150x150.jpg 150w, /assets/images/book-01-300x300.jpg 300w, /assets/images/book-01-100x100.jpg 100w" sizes="(max-width: 370px) 100vw, 370px" />
                                    <div class="cs-portfolio__overlay cs-portfolio__overlay--dark cs-portfolio__overlay--hidden"></div>
                                    <div class="cs-portfolio__inner cs-portfolio__inner--hidden">
                                       <a href="#" class="cs-btn cs-btn--c-custom cs-portfolio__btn" target="_blank">
                                       READ MORE                    </a>
                                    </div>
                                 </div>
                                 <div class="cs-portfolio__content cs-portfolio__content--books">
                                    <h5 class="cs-portfolio__title cs-portfolio__title--books cs-portfolio__title--link"><a href="#" target="_blank">CONTEMPORARY LIBRARY</a></h5>
                                    <div class="cs-portfolio__pix cs-portfolio__pix--books cs-portfolio__pix--content">
                                       By Ken Worpole                    
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}
   