<div class="item-grid custom-color--2 move-up-x wow animate mb_sm--60 mb_md--50 mb_lg--50" data-wow-delay=".13s" style="visibility: visible; animation-delay: 0.13s; opacity: 0; animation-name: moveHorizontal;">
    <div class="line"></div>
    <div class="dot-wrap">
        <div class="dot">
            <div class="count">{{ block.circleCenter }}</div>
        </div>
    </div>
    <div class="content">
        <h5 class="heading heading-h5">{{ block.processStepTitle }}</h5>
        <p class="bk_pra">{{ block.processStepContent | nl2br }}</p>
    </div>
</div>