<div class="item-grid custom-color--2 mt--40 move-up-x wow animate" data-wow-delay=".13s" style="visibility: visible; animation-delay: 0.13s; opacity: 0; animation-name: moveHorizontal;">
    <div class="line"></div>
    <div class="dot-wrap">
        <div class="dot">
            <div class="count">{{ block.circleCenter }}</div>
        </div>
    </div>
    <div class="content">
        <h5 class="heading heading-h5">Brainstorming</h5>
        <p class="bk_pra">{{ block.processStepContent }}</p>
    </div>
</div>