{% extends 'template_1/_layout' %}
{% block stylesheets %}
    {{ parent() }}

   <link href="/fac3/css/style.css" rel="stylesheet">
{% endblock %}

{% set topBar = 'no' %}


{% block main %}
   <div class="cs-main-wrapp__inner">
      <div class="container padd-only-xs">


         <div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="row-fluid row-no-padding">
            <div class="column_container col-sm-12 ">
               <div>
                  <div>
                     <section class="container-fluid cs-banner no-padd  play cs-banner--fullheight js-fullheight js-parallax-banner-parent">
                        <div class="js-parallax-banner-item" data-parallax-speed="1">
                           <video autoplay muted loop id="myVideo">
                              <source src="/assets/videos/ServiceM8FacebookAdGlobal.mp4" type="video/mp4" style="  position: fixed;right: 0;bottom: 0;min-width: 100%; min-height: 100%;">
                           </video>
                        </div>
                     </section>
                  </div>
               </div>
            </div>
         </div>





         <div class="row-full-width clearfix"></div>
         <div data-vc-full-width="true" data-vc-full-width-init="true" data-vc-stretch-content="true" class="row row-fluid bg-grey row-has-fill row-no-padding  padding-lg-80b padding-sm-40b padding-lg-80t">
            <div class="column_container col-sm-12 ">
               <div class="column-inner padding-t-z">
                  <div>
                     <div class="container-fluid no-padd cs-parent ">
                        <div class="cs-parent__content-wr">
                           <div data-unique-key="0bf3c8aa9017e52dd041b7e2c3327621" class="js-cs-load-more" data-start-page="1" data-max-page="1" data-next-link="">
                              <div class=" cs-block cs-block--services js-cs-block--services cs-block--col3 cs-block--gap15 js-cs-load-more-block no-footer-content ">

                                  <div class="cs-block__item js-filter-simple-block p_f_95af047">
                                     <div class="cs-block__item-wrapp">
                                        <div class="cs-portfolio cs-portfolio--services background-transparent">
                                          <span class="cs-portfolio__icon cs-portfolio__icon--services">
                                             <img src="/assets/uploads/1588590727_getmorework.png">
                                          </span>
                                           <h6 class="cs-portfolio__title cs-portfolio__title--services">Win more customers</h6>
                                           <div class="cs-portfolio__desc cs-portfolio__desc--services">
                                              <p>
                                                 With competition in the industry being fierce winning new business can be difficult. But, with the help of this technology,
                                                 businesses can send sleek, well-presented digital quotations through ready-made forms and bespoke PDF's, enabling them to respond immediately to enquiries.
                                                 This is why businesses using it have reported an average of 30% more work in the first 3 months!
                                              </p>
                                           </div>
                                        </div>
                                     </div>
                                  </div>

                                 <div class="cs-block__item js-filter-simple-block p_f_95af047">
                                    <div class="cs-block__item-wrapp">
                                       <div class="cs-portfolio cs-portfolio--services background-transparent">
                                          <span class="cs-portfolio__icon cs-portfolio__icon--services">
                                              <img src="/assets/uploads/1588590727_getmorework.png">
                                          </span>
                                          <h6 class="cs-portfolio__title cs-portfolio__title--services">Manage your workflow</h6>
                                          <div class="cs-portfolio__desc cs-portfolio__desc--services">
                                             <p>
                                                The more business you win, the more administrative taks coming your way, something many expanding businesses struggle to handle.
                                                Through the software, users can eliminate paperwork and increase productivity while providing an enhanced service to customers.
                                                This can help with everything from managing your sales pipeline to conducting HR tasks
                                             </p>
                                          </div>
                                       </div>
                                    </div>
                                 </div>

                                 <div class="cs-block__item js-filter-simple-block p_f_95af047">
                                    <div class="cs-block__item-wrapp">
                                       <div class="cs-portfolio cs-portfolio--services background-transparent">
                                          <span class="cs-portfolio__icon cs-portfolio__icon--services">
                                              <img src="/assets/uploads/1588590725_getparidfaster.png">
                                          </span>
                                          <h6 class="cs-portfolio__title cs-portfolio__title--services">Faster payments</h6>
                                          <div class="cs-portfolio__desc cs-portfolio__desc--services">
                                             <p>
                                                Through the system, businesses can manage finances with ease, sending invoices instantly once a job is completed. With a range of customisable documents at your disposal,
                                                this software can have a hugely positive impact on cashflow.
                                             </p>
                                          </div>
                                       </div>
                                    </div>
                                 </div>

                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="column_container col-sm-12 ">
               <div class="column-inner padding-t-z">
                  <div>
                     <div class="container-fluid no-padd cs-parent ">
                        <div class="cs-parent__content-wr">
                           <div class="offset-md-3 col-md-6">
                              <div class="row">
                                 <div class="col-md-6 text-center">
                                    <a class="btn btn-2 btn-lg text-white border-none" href="https://book.servicem8.com/request_booking?uuid=a027283e-6c39-40ee-97b9-1b7766c6018b" target="_blank">Start a free trial</a>
                                 </div>
                                 <div class="col-md-6 text-center">
                                    <a class="btn btn-2 btn-lg text-white border-none" href="https://book.servicem8.com/request_booking?uuid=a027283e-6c39-40ee-97b9-1b7766c6018b" target="_blank">Book in a consultation</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>



         </div>




         <div class="row-full-width clearfix"></div>

         <div class="row-full-width clearfix"></div>
         <div data-vc-full-width="true" data-vc-full-width-init="false" class="row row-fluid row-has-fill  padding-lg-110t padding-lg-110b padding-sm-70t padding-sm-70b">
            <div class="column_container col-sm-12 ">
               <div class="column-inner">
                  <div>

                     <div class="row inner row-fluid ">
                        <div class="column_container col-sm-12">
                           <div class="column-inner">
                              <div>
                                 <h2 class="text-center">Your Services</h2>



                                 <section class="cs-process  cs-process--img-right">
                                    <div class="cs-process__img-wrapp curved-border">
                                       <img class="s-img-switch" src="/assets/uploads/1588616909_ServiceM8-4-Invoice.png"  alt="img-work-process">
                                    </div>
                                    <div class="cs-process__info">
                                       <h3 class="cs-process__title">Save time, Make more money</h3>
                                       <div class="cs-process__content">
                                          <p>
                                             Fac3 supports businesses with setting up a powerful job management tool that permits them to streamline all aspects of their work. Fully tailored and customised to the needs of each business,
                                             their software is a cloud-based solution that helps electricians, plumbers, construction workers and other trade businesses groow whilst managing their workload effectively. From sending quotes and invoices to allocating jobs and communicating with staff members.
                                             Fac3 is helping thousands of businesses become more efficient and profitable.
                                          </p>
                                       </div>
                                    </div>
                                 </section>
                              </div>
                           </div>
                        </div>
                     </div>

                     <div class="row inner row-fluid ">
                        <div class="column_container col-sm-12">
                           <div class="column-inner">
                              <div>
                                 <section class="cs-process  cs-process--img-left">
                                    <div class="cs-process__img-wrapp curved-border">
                                       <img class="s-img-switch " src="/assets/uploads/1588616800_two-builders-holding-construction-plans-CWDNPLA-min-1.jpg"  alt="img-work-process">
                                    </div>
                                    <div class="cs-process__info">
                                       <h3 class="cs-process__title">Manage your team</h3>
                                       <div class="cs-process__content">
                                          <p>
                                             If you are carrying out a high volume of jobs in different locations, having a system to manage these is a must, providing staff with job information, details of equipment needed and the ability to record any information,
                                             photos and videos necessary. It can also support with staff training, with a range of resources integrated into the system that are ready and waiting to upskill your team.
                                          </p>
                                       </div>
                                    </div>
                                 </section>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row inner row-fluid padding-lg-70t ">
                        <div class="column_container col-sm-12">
                           <div class="column-inner">
                              <div class="text-center">
                                 <img src="/assets/uploads/1589124843_57d7ef8c3d16a9a554f039b6_certified_partner.jpg" style="max-width: 300px">
                              </div>
                           </div>
                        </div>
                     </div>

                  </div>
               </div>
            </div>
         </div>


          <div class="row-full-width clearfix"></div>

          <div class="row-full-width clearfix"></div>
            <div data-vc-full-width="true" data-vc-full-width-init="false" class="row row-fluid bg-grey row-has-fill  padding-lg-110t padding-lg-110b padding-sm-70t padding-sm-70b">

               <div class="column_container col-sm-12 ">
                  <div class="column-inner padding-t-z">
                     <div>
                        <h2 class="text-center">Pricing</h2>

                        <div class="row row-fluid  padding-lg-65t padding-lg-80b padding-sm-55b">
                           <div class="column_container col-sm-8 col-md-offset-1 col-md-5 col-sm-offset-2  padding-lg-50t">
                              <div class="column-inner padding-t-z">
                                 <div>
                                    <div class="wpb_text_column wpb_content_element ">
                                       <div class="">
                                          <div class="cs-pricing__img-wrapp cs-pricing__img-wrapp--overlay s-back-switch" style="background-image: url(';http://fac3.co.uk/assets/uploads/1588582055_builder-with-tablet-showing-his-colleagues-where-t-8FDG5LC.jpg');">
                                             <img class="s-img-switch" src="/assets/uploads/1588582055_builder-with-tablet-showing-his-colleagues-where-t-8FDG5LC.jpg" alt="" style="display: none;">
                                             <h5 class="cs-pricing__price cs-pricing__price--image">From</h5>
                                             <a class="cs-btn cs-btn--c-custom cs-pricing__btn cs-pricing__btn--image" href="#" target=" _blank">£8/<span>mo</span></a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="column_container col-sm-8 col-md-offset-0 col-md-6 col-sm-offset-2   padding-lg-50t">
                              <div class="column-inner padding-t-z">
                                 <div>
                                    <section class="cs-heading  cs-heading--left cs-heading--c-default cs-heading--modern">
                                       <h3 class="cs-heading__title">Simple, affordable pricing</h3>
                                       <h6 class="cs-heading__subtitle">No hidden fees. No contracts. No Catch</h6>
                                       <div class="cs-heading__content">
                                          <p>Learn more about pricing</p>
                                       </div>
                                    </section>
                                    <div class="row inner row-fluid  padding-lg-20t">
                                       <div class="column_container col-sm-12">
                                          <div class="column-inner">
                                             <div>
                                                <ul>
                                                   <li>14 day free trial</li>
                                                   <li>Free accounting integration</li>
                                                   <li>Unlimited staff/users</li>
                                                   <li>Unlimited storage</li>
                                                   <li>24/7 Support</li>
                                                </ul>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

         
         <div class="row-full-width clearfix"></div>
      </div>
   </div>
{% endblock %}
   