<!-- Case Studis Area Start -->
<div class="case-studis-area pt--120 pt-md--80 pt-sm--60">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="brook-section-title text-center mb--45">
                    <h6 class="heading-13 theme-color text-uppercase fw-500">Our case studies</h6>
                    <div class="bkseparator--25"></div>
                    <h2 class="heading-40 fw-200">Our projects make us proud</h2>
                </div>
            </div>
        </div>
        <div class="row brook-element-carousel slick-arrow-center" data-slick-options='{
                     "slidesToShow": 1,
                     "slidesToScroll": 1,
                     "arrows": true,
                     "infinite": true,
                     "dots": false,
                     "prevArrow": {"buttonClass": "slick-btn slick-prev", "iconClass": "fas fa-angle-left" },
                     "nextArrow": {"buttonClass": "slick-btn slick-next", "iconClass": "fas fa-angle-right" }
                     }'>
            <div class="col-12">
                <div class="row mt--30">
                    <div class="col-xl-5 col-lg-6">
                        <div class="case-slider-content">
                            <div class="post-count">
                                01.
                            </div>
                            <h6 class="heading headin-h6 theme-color wow move-up animate">Web Design</h6>
                            <h3 class="heading-font line-height-1-5 wow move-up animate">Open lane - Modern dashboard from ThemeMove</h3>
                            <p class="text">The key to this ThemeMove dashboard is that it clearly shows progress towards daily and monthly goals using bullet charts.</p>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-6">
                        <div class="image-wrap">
                            <div class="image">
                                <div class="image">
                                    <img src="/template_2/img/case-study/home-essential-case-study-image-01.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row mt--30">
                    <div class="col-xl-5 col-lg-6">
                        <div class="case-slider-content">
                            <div class="post-count">
                                02.
                            </div>
                            <h6 class="heading headin-h6 theme-color wow move-up animate">Web Design</h6>
                            <h3 class="heading-font line-height-1-5 wow move-up animate">ThemeMove Analyze</h3>
                            <p class="text">Measure your social network performance, create brilliant reports in a few clicks, and get suggestions to improve your strategy.</p>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-6">
                        <div class="image-wrap">
                            <div class="image">
                                <div class="image">
                                    <img src="/template_2/img/case-study/home-essential-case-study-image-02.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row mt--30">
                    <div class="col-xl-5 col-lg-6">
                        <div class="case-slider-content">
                            <div class="post-count">
                                03.
                            </div>
                            <h6 class="heading headin-h6 theme-color wow move-up animate">Web Design</h6>
                            <h3 class="heading-font line-height-1-5 wow move-up animate">Marketing Automation Platform</h3>
                            <p class="text">Our tool help marketers capture leads, nurture them further down the funnel, and analyze lead behavior and campaign performance.</p>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-6">
                        <div class="image-wrap">
                            <div class="image">
                                <div class="image">
                                    <img src="/template_2/img/case-study/home-essential-case-study-image-03.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Case Studis Area End -->