<div class="container-area ptb--40 ptb-md--40">
    <div class="container">

        {% if block.containerBlock %}

            {% for innerBlock in block.containerBlock.all() %}
                {% switch innerBlock.type %}
                    {% case "container" %}

                    {% for entry in innerBlock.blocks.all() %}

                        {% include '/template_2/_components/_block_entry' with { 'entry' : entry } %}

                    {% endfor %}
                {% endswitch %}
            {% endfor %}
        {% endif %}

    </div>
</div>