<!-- Start Minicart -->
<div class="mini-cart">
    <div id="minicart-trigger" class="minicart-trigger mini-cart-button" data-count="3">
        <button><i class="fas fa-shopping-bag"></i></button>
    </div>
    <div class="shopping-cart cart-box">
        <div class="shop-inner">
            <div class="header">
                <ul class="product-list">
                    <!-- Start Single Product -->
                    <li>
                        <div class="thumb">
                            <a href="single-product.html">
                                <img src="/template_2/img/product/sm-image/sm-cat1-01.jpg" alt="Multipurpose template">
                            </a>
                        </div>
                        <div class="content">
                            <div class="inner">
                                <h4><a href="single-product.html">Bottle with Leather
                                        Grip</a>
                                </h4>
                                <div class="quatity">
                                    <span>1 ×</span>
                                    <span>39.00</span>
                                </div>
                            </div>
                            <button class="delete-btn"><i class="fas fa-times"></i></button>
                        </div>
                    </li>
                    <!-- Start Single Product -->
                    <li>
                        <div class="thumb">
                            <a href="single-product.html">
                                <img src="/template_2/img/product/sm-image/sm-cat1-02.jpg" alt="Multipurpose template">
                            </a>
                        </div>
                        <div class="content">
                            <div class="inner">
                                <h4><a href="single-product.html">Crystal Glass Globe
                                        Desk Lamp</a>
                                </h4>
                                <div class="quatity">
                                    <span>1 ×</span>
                                    <span>39.00</span>
                                </div>
                            </div>
                            <button class="delete-btn"><i class="fas fa-times"></i></button>
                        </div>
                    </li>
                    <!-- Start Single Product -->
                    <li>
                        <div class="thumb">
                            <a href="single-product.html">
                                <img src="/template_2/img/product/sm-image/sm-cat1-03.jpg" alt="Multipurpose template">
                            </a>
                        </div>
                        <div class="content">
                            <div class="inner">
                                <h4><a href="single-product.html">Gold Plated Desk
                                        Lantern Lamp</a>
                                </h4>
                                <div class="quatity">
                                    <span>1 ×</span>
                                    <span>39.00</span>
                                </div>
                            </div>
                            <button class="delete-btn brook-transition"><i class="fas fa-times"></i></button>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="footer">
                <div class="total">Total: <span>225.00</span></div>
                <a class="cart-btn brook-transition" href="checkout.html">Check out</a>
            </div>
        </div>
    </div>
</div>
<!-- End Minicart -->