{% extends 'db_dean/_layout' %}

{% block main %}
   <div class="cs-main-wrapp__inner">
      <div class="container padd-only-xs">
         {% include '/template_1/_components/_full_screen_image_banner'  with {'title': companyInformation.companySlogan|upper,'subtitle': '','imageUrl': '/assets/uploads/1590426988_DSC00638.jpg'} %}

         <div class="row-full-width clearfix"></div>
         <div class="row row-fluid  padding-lg-105t padding-lg-105b padding-sm-70t padding-sm-70b">
            <div class="column_container col-sm-12 col-md-6 ">
               <div class="column-inner ">
                  <div>
                     <section class="cs-heading  cs-heading--left cs-heading--c-default cs-heading--modern">
                        <h2 class="cs-heading__subtitle">DB Dean</h2>
                        <h5 class="cs-heading__title">
                           DBDean is a South Wales-based firm that specialises in the design, build and installation of bespoke windows and doors, providing a wealth of services across the UK.
                        </h5>
                        <div class="cs-heading__content">
                           <p>Creating unique, high-quality and aesthetically pleasing windows and doors, we pride ourselves on the work we deliver, creating tailored solutions for our ever-growing list of happy customers.</p>
                        </div>
                        <a class="cs-btn   cs-heading__btn" href="/Portfolio" target="/Portfolio"> VIEW WORK </a>
                     </section>
                  </div>
               </div>
            </div>
            <div class="column_container col-sm-12 col-md-6  margin-sm-30t">
               <div class="column-inner ">
                  <div>
                     <div class="row inner row-fluid ">
                        <div class="column_container col-sm-12 col-xs-12">
                           <div class="column-inner">
                              <div>
                                 <div class="wpb_single_image wpb_content_element align_right">
                                    <figure class=" figure">
                                       <div class="single_image-wrapper   box_border_grey">
                                          <img width="400" height="235" src="/assets/uploads/1588841946_rsz_20160610_113046.jpg" class="single_image-img attachment-full" alt=" image" srcset="/assets/uploads/1588841946_rsz_20160610_113046.jpg 235w, /assets/uploads/1588841946_rsz_20160610_113046.jpg 150w, /assets/uploads/1588841946_rsz_20160610_113046.jpg 100w" sizes="(max-width: 235px) 100vw, 235px">
                                       </div>
                                    </figure>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         {% include '/template_1/_components/_services' with {'title': 'WHAT WE DO','subtitle': 'HERE YOU CAN SEE AND ESTIMATE','imageUrl': '/assets/uploads/1588690619_image7.jpg', 'hideLink': true} %}

         {% include '/template_1/_components/_portfolio' with {'title': 'PORTFOLIO','subtitle': 'CHECK OUT OUR','imageUrl': '/assets/uploads/1588690327_image5.jpg'} %}

         {% include '/template_1/_components/_clients' with {'title': 'CLIENTS','subtitle': 'WE HAVE A LONG HISTORY OF HAPPY CLIENTS','imageUrl': '/assets/uploads/1588690523_image3.jpg'} %}

         {% include '/template_1/_components/_testimonials' with {'title': 'TESTIMONIALS','subtitle': 'SOME KIND WORDS FROM OUR CLIENTS','imageUrl': '/assets/uploads/1588690327_image5.jpg'} %}

         {% include '/template_1/_components/_blog' with {'title': 'OUR BLOG','subtitle': 'ARTICLES OF INTEREST','imageUrl': '/assets/uploads/1588690324_image6.jpg'} %}



         
         <div class="row-full-width clearfix"></div>
      </div>
   </div>
{% endblock %}
   