{% if block.textBlockTitle %}
    <h1 class="heading-custom
        {% if block.customClass %}
            {{ block.customClass }}
        {% endif %}
    ">{{ block.textBlockTitle |nl2br }}</h1>
{% endif %}
