{% if block.textBlockTitle %}
    <h2 class="heading-custom
        {% if block.customClass %}
            {{ block.customClass }}
        {% endif %}
    ">{{ block.textBlockTitle |nl2br }}</h2>
{% endif %}
