{% if block.textBlockTitle %}
    <h4 class="heading-custom
        {% if block.customClass %}
            {{ block.customClass }}
        {% endif %}
    ">{{ block.textBlockTitle |nl2br }}</h4>
{% endif %}
