{% if block.textBlockParagraph %}
    <p class="
        {% if block.customClass %}
            {{ block.customClass }}
        {% endif %}
    ">{{ block.textBlockParagraph |nl2br }}</p>
{% endif %}
