<div class="modern-service wow move-up  animate">
    {% if block.textBlockTitle %}
        <h5 class="heading-13 text-uppercase fw-500">{{block.textBlockTitle}}</h5>
        <div class="bkseparator--30"></div>
    {% endif %}
    {% if block.textBlockSubtitle %}
        <h5 class="heading heading-h5 line-height-1-62">{{block.textBlockSubtitle}}</h5>
        <div class="bkseparator--30"></div>
    {% endif %}
    {% if block.textBlockParagraph %}
        <p class="bk_pra">{{ block.textBlockParagraph }}</p>
    {% endif %}
</div>