<div class="typed-text">
    <div class="content">
        <h3 class="heading heading-h3 cd-headline clip is-full-width move-up wow">
            {{ block.textBefore }}
            <span class="cd-words-wrapper theme-color
            {% if block.typedTextFontDifferent.value == 'yes' %}text-variation-play{% endif %}
            ">
                {% for text in block.typedText %}
                    {% if loop.first %}
                        <b class="is-visible">
                    {% else %}
                        <b>
                    {% endif %}
                    {{ text.text }}</b>
                {% endfor %}
            </span>
            {{ block.textAfter  }}</h3>
    </div>
</div>