{% extends 'template_1/_layout' %}

{% block main %}
   <div class="cs-main-wrapp__inner">
      <div class="container padd-only-xs">
         <div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="row-fluid row-no-padding">
            <div class="column_container col-sm-12 ">
               <div>
                  <div>
                     <section class="container-fluid cs-banner no-padd  play cs-banner--fullheight js-fullheight js-parallax-banner-parent">
                        <div class="js-parallax-banner-item" data-parallax-speed="1">
                           <img src="./template_1/images/test-img.jpeg" class="s-img-switch" alt=" baner-top">
                        </div>
                        <span class="cs-overlay"></span>
                        <div class="cs-banner__content js-banner-animation js-fullheight__content">
                           <h1 class="cs-banner__title">
                              UNIQUE                                
                           </h1>
                           <div class="cs-banner__desc">
                              <h6>DESIGN IS MAKING SENSE<br />
                                 OF THINGS.
                              </h6>
                           </div>
                        </div>
                        <div class="cs-banner__btm-arrow js-cs-scroll-down"><i></i></div>
                     </section>
                  </div>
               </div>
            </div>
         </div>
         <div class="row-full-width clearfix"></div>
         <div data-vc-full-width="true" data-vc-full-width-init="false" class="row row-fluid bg-grey row-has-fill  padding-lg-110t padding-lg-110b padding-sm-70t padding-sm-70b">
            <div class="column_container col-sm-12 ">
               <div class="column-inner padding-t-z">
                  <div>
                     <div class="cs-counter row cs-counter--img-left">
                        <div class="col-sm-12 col-md-6">
                           <div class="cs-counter__img-wrapp">
                              <img src="./template_1/images/image-01.jpg" class="s-img-switch" alt="image">
                           </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                           <div class="cs-counter__wrapp">
                              <div class="cs-counter__info">
                                 <h3 class="cs-counter__title">GROW &amp; SUCCEED</h3>
                                 <div class="cs-counter__desc">
                                    <p>Erat volutpat. Ut wisi enim nostrud exerci ullam corper suscipit lobortis nisl ut aliquip ex commo do consquatErat volutpat. Ut wisi enim nostrud exerci ullamcorper suscipit lobortis nisl ut aliquip</p>
                                 </div>
                                 <div class="cs-counter__numbers">
                                    <div class="cs-counter__item">
                                       <h3 class="cs-counter__item-number">925</h3>
                                       <p class="cs-counter__item-title">Working Hours</p>
                                    </div>
                                    <div class="cs-counter__item">
                                       <h3 class="cs-counter__item-number">15</h3>
                                       <p class="cs-counter__item-title">Awards</p>
                                    </div>
                                    <div class="cs-counter__item">
                                       <h3 class="cs-counter__item-number">121</h3>
                                       <p class="cs-counter__item-title">Projects Done</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         

         {% include '/template_1/_components/_portfolio' %}
         {% include '/template_1/_components/_services' %}
         {% include '/template_1/_components/_team' %}
         {% include '/template_1/_components/_awards' %}
         {% include '/template_1/_components/_clients' %}
         {% include '/template_1/_components/_testimonials' %}
         {% include '/template_1/_components/_blog' %}



         
         <div class="row-full-width clearfix"></div>
         <div class="row row-fluid  padding-lg-65t padding-lg-80b padding-sm-55b">
            <div class="column_container col-sm-8 col-md-offset-0 col-md-6 col-sm-offset-2 ">
               <div class="column-inner padding-t-z">
                  <div>
                     <section class="cs-heading  cs-heading--left cs-heading--c-default cs-heading--modern">
                        <h6 class="cs-heading__subtitle">CONTACT</h6>
                        <h3 class="cs-heading__title">
                           Let’s start new project.                    
                        </h3>
                        <div class="cs-heading__content">
                           <p>Erat volutpat. Ut wisi enim ad minim veniam, nostrud exerci ullamcorper nisl ut aliquip ex commodo consquat Duis autem vel vulputate velit esse molestie consequat. Ut wisi enim ad minim veniam, nostrud exerci ullamcorper nisl ut aliquip ex commodo consquat vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril</p>
                        </div>
                     </section>
                     <div class="row inner row-fluid  padding-lg-20t">
                        <div class="column_container col-sm-12">
                           <div class="column-inner">
                              <div>
                                 <div class="cs-address  cs-address--simple">
                                    <div class="cs-address__item  cs-address__item--title-enable ">
                                       <h6 class="cs-address__item-title-simple">
                                          PHONE                                    
                                       </h6>
                                       <a href="tel:+45(0)479253798" class="cs-address__item-link"  >
                                       +45 (0)4 79 25 37 98                                            </a>
                                    </div>
                                    <div class="cs-address__item  cs-address__item--title-enable ">
                                       <h6 class="cs-address__item-title-simple">
                                          SKYPE                                    
                                       </h6>
                                       <p class="cs-address__item-text">coca_support_1</p>
                                    </div>
                                    <div class="cs-address__item  cs-address__item--title-enable ">
                                       <h6 class="cs-address__item-title-simple">
                                          EMAIL                                    
                                       </h6>
                                       <a href="mailto:coca@info.com" class="cs-address__item-link">
                                          <span class="__cf_email__" data-cfemail="3f5c505c5e7f56515950115c5052">coca@info.com</span>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="column_container col-sm-8 col-md-offset-1 col-md-5 col-sm-offset-2  padding-lg-50t">
               <div class="column-inner padding-t-z">
                  <div>
                     <div class="wpb_text_column wpb_content_element " >
                        <div class="">
                           <div role="form" class="wpcf7" id="wpcf7-f5338-p961-o1" lang="en-US" dir="ltr">
                              <div class="screen-reader-response"></div>
                              <form method="post" class="wpcf7-form form contact-form cs-form" novalidate="novalidate">
                                 <div style="display: none;">
                                    <input type="hidden" name="_wpcf7" value="5338" />
                                    <input type="hidden" name="_wpcf7_version" value="5.1.1" />
                                    <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f5338-p961-o1" />
                                    <input type="hidden" name="_wpcf7_container_post" value="961" />
                                    <input type="hidden" name="g-recaptcha-response" value="" />
                                 </div>
                                 <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                       <label for="person-name">Name <span>*</span></label><span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" id="person-name" aria-required="true" aria-invalid="false" /></span>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                       <label for="person-number">Phone <span>*</span></label><span class="wpcf7-form-control-wrap your-phone"><input type="number" name="your-phone" value="" class="wpcf7-form-control wpcf7-number wpcf7-validates-as-required wpcf7-validates-as-number" id="person-number" aria-required="true" aria-invalid="false" /></span>
                                    </div>
                                    <div class="col-sm-12">
                                       <label for="person-email">Mail <span>*</span></label><span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" id="person-email" aria-required="true" aria-invalid="false" /></span>
                                    </div>
                                    <div class="col-sm-12">
                                       <label for="person-massage">Message <span>*</span></label><span class="wpcf7-form-control-wrap your-comment"><textarea name="your-comment" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required" id="person-massage" aria-required="true" aria-invalid="false"></textarea></span>
                                    </div>
                                 </div>
                                 <div class="cs-form-submit cs-form-submit--center">
                                    <input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit" />
                                 </div>
                                 <div class="wpcf7-response-output wpcf7-display-none"></div>
                              </form>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="row row-fluid row-no-padding">
            <div class="column_container col-sm-12 ">
               <div class="column-inner ">
                  <div>
                     <div class="ugm-map-wrapper ">
                        <div style="height: 600px" id="map">
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row-full-width clearfix"></div>
      </div>
   </div>
{% endblock %}
   