<div class="vrm-lookup-container">
    <div class="vehicle-lookup-bounds">
        <div class="vehicle-lookup">
            <form method="get" action="/sky-buy-cars-quote" novalidate="" id="vehicleReg-form" _lpchecked="1">
                <div class="d-flex flex-row justify-content-start">
                    <div class="vrm-container flex-grow-1">
                        <input aria-label="Vehicle lookup" autocomplete="off" autocorrect="off" class="vrm no-validate large-fonts" maxlength="7" name="registrationNumber" placeholder="Enter your reg" type="text" id="vehicleReg">
                    </div>
                    <button class="cta primary sub" type="submit">
                        <span>GO <img class="chevron" alt="chevron" src="https://cms.webuyanycar.com/static/images/chevron-right.png" loading="lazy"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>