{% set entrySlug = craft.request.getParam('registrationNumber') %}

<div class="container">
    <div class="row">
        <div class="col-12">
            {% set formHandle = 'skyBuyQuotePageForm' %}

            <!-- Start Form Area -->
            <div class="contact-form">
                <form  method="POST" action="/sky-buy-cars-quote-result">
                    {{ csrfInput() }}

                    <div class="row">
                        <div class="col-lg-10 mb--20 offset-md-1">
                            <!-- Billing Address -->
                            <div id="billing-form" class="mb--40">
                                <h4 class="checkout-title">Your Details</h4>
                                <div class="row ">
                                    <div class="form-group col-sm-12 col-xs-12">
                                        <label for="form-input-name" class="required">Car Mileage *</label>
                                        <input required class="form-control " name="entryMileage" type="number" id="form-input-name" placeholder="E.g. 15600" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;" >
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="form-group col-sm-12 col-xs-12">
                                        <label for="form-input-name" class="required">Name *</label>
                                        <input required class="form-control " name="name" type="text" id="form-input-name" placeholder="Name" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;" >
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="form-group col-sm-12 col-xs-12">
                                        <label for="form-input-email" class="required">Email Address *</label>
                                        <input required class="form-control" name="email" type="email" id="form-input-email" placeholder="Email Address">
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="form-group col-sm-12 col-xs-12">
                                        <label for="form-input-zipCode" class="required">Postcode *</label>
                                        <input required class="form-control" name="zipCode" type="text" id="form-input-zipCode" placeholder="Postcode">
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="form-group col-sm-12 col-xs-12">
                                        <label for="form-input-phone" class="required">Contact Number * <span id="phone-number-validation" style="font-weight:bold;margin-top: 0px;display: block;font-family: 'Hero New Regular' !important;color: red;margin-left: 20px;float: right;"></span></label>
                                        <input required class="form-control " name="phone" min="11" minlength="11"  type="text" id="form-input-phone" placeholder="Contact Number">
                                    </div>
                                </div>
                                {% includeJsFile "https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" %}
                                {% set myJs %}
                                var minLength = 10;
                                var maxLength = 13;
                                $("#form-input-phone").on("keydown keyup change", function(){
                                    var value = $(this).val();
                                    if (value.length < minLength){
                                        $("#phone-number-validation").text("Contact Number is too short");
                                        $('button[type="submit"]').prop('disabled', true);
                                    } else if (value.length > maxLength){
                                        $("#phone-number-validation").text("Contact Number is too long");
                                        $('button[type="submit"]').prop('disabled', true);
                                    } else {
                                        $("#phone-number-validation").text("");
                                        $('button[type="submit"]').prop('disabled', false);
                                    }
                                });
                                {% endset %}

                                {% includeJs myJs %}
                                <div class="row ">
                                    <div class="form-group col-sm-12 col-xs-12 submit-align-center">
                                        <div class="cs-form-submit cs-form-submit--center">
                                            <button class="" data-submit-button="1" type="submit" name="form_page_submit">Get Quote</button>
                                        </div>
                                    </div>
                                </div>
                                <input class="form-control hidden" name="registrationNumber" type="hidden" value="{{ entrySlug }}">
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>