<div class="container">
    <div class="row">
        <div class="col-12">
            <!-- Start Form Area -->
            <div class="contact-form">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="row">
                        <!-- Cart Total -->
                        <div class="col-12 mb--60">
                            <h4 class="checkout-title">Car Details</h4>
                            <div class="checkout-cart-total">
                                <h4>BMW 320D M SPORT GT AUTO</h4>
                                    <div style="padding-bottom: 15px;padding-top: 15px;margin-bottom: 15px;border-bottom: 1px solid #999999;border-top: 1px solid #999999;">
                                        <img src="https://cdn2.vdicheck.com/VehicleImages/Image.ashx?Id=7538CEBC-9A27-4686-B61E-F21AE48252AC" style="width: 100%;">
                                    </div>
                                    <ul>
                                    <li>Range <span>3 Series</span></li>

                                    <li>Fuel Type <span>Diesel</span></li>

                                    <li>Colour <span>RED</span></li>

                                    <li>Year <span>2014</span></li>

                                    <li>Doors <span>5 DOOR HATCHBACK</span></li>

                                    <li>Transmission <span>Automatic</span></li>

                                    <li>Model <span>320D M SPORT GT AUTO</span></li>

                                    <li>Body <span>HATCHBACK</span></li>
                                </ul>
                                    <p>Registration Number<span>DV12 LWG</span></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-7 mb--20">
                        <!-- Billing Address -->
                        <div id="billing-form" class="mb--40">
                            <h4 class="checkout-title">Your Quoted Price</h4>

                            <div class="single-product-details-side" style="margin: 0px;width: 100% !important;max-width: 100%;">
                                <div class="product-details">
                                    <div class="inner">


                                        <div class="price">
                                            <h1 class="theme-color">£8,822.00<p></p></h1>
                                            <h3 class="theme-color">Price shown based on 50,000 Miles<p></p></h3>
                                        </div>

                                        <div class="description">
                                            <p class="bk_pra">
                                                This valuation will be guaranteed for 7 days from today, after this 7 day period you would need to do a fresh valuation. We will be in touch to arrange a date and time to bring your vehicle to us so that we can inspect it. If you would like to discuss any aspect of the quote or our service please feel free to get in touch via telephone on 029 2075 7991 or email info@skybuyscars.com.
                                            </p>
                                        </div>

                                        <div class="quenty-container" style="margin: 0;padding: 0;border-bottom: 0px">
                                            <!-- Calendly inline widget begin -->
                                            <div class="calendly-inline-widget" data-url="https://calendly.com/sky-buys-cars?primary_color=2e58a4" style="min-width:320px;height:630px;"></div>
                                            <!-- Calendly inline widget end -->
                                            <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
                                        </div>

                                        <div class="quenty-container" style="margin: 0;border-bottom: 0px">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-12 ">
                                                    <div class="plans-about">
                                                        <h6 class="heading heading-h6 theme-color">Important information</h6>
                                                        <!-- Start Single List -->
                                                        <div class="bk-list--2 mt--25 move-up wow  animate" style="visibility: visible; opacity: 0; animation-name: moveVertical;">
                                                            <div class="list-header with-ckeck">
                                                                <div class="marker"></div>
                                                                <div class="title-wrap">
                                                                    <h6 class="heading heading-h5">The Important Bits</h6>
                                                                </div>
                                                            </div>

                                                            <div class="list-header with-ckeck">
                                                                <div class="marker"></div>
                                                                <div class="title-wrap">
                                                                    <h6 class="heading heading-h5">We base the valuation  of all vehicles as being in A1 condition and reserve the right to not proceed (or adjust our valuation) if the vehicle is not in that condition.</h6>
                                                                </div>
                                                            </div>

                                                            <div class="list-header with-ckeck">
                                                                <div class="marker"></div>
                                                                <div class="title-wrap">
                                                                    <h6 class="heading heading-h5">We only guarantee the quoted price for 7 days.</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- End Single List -->
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-12 ">
                                                    <div class="plans-about">
                                                        <h6 class="heading heading-h6 theme-color">We have assumed...
                                                        </h6>
                                                        <!-- Start Single List -->
                                                        <div class="bk-list--2 mt--25 move-up wow  animate" style="visibility: visible; opacity: 0; animation-name: moveVertical;">
                                                            <div class="list-header with-ckeck">
                                                                <div class="marker"></div>
                                                                <div class="title-wrap">
                                                                    <h6 class="heading heading-h5">There is no damage including on exterior and interior or mechanical.</h6>
                                                                </div>
                                                            </div>
                                                            <div class="list-header with-ckeck">
                                                                <div class="marker"></div>
                                                                <div class="title-wrap">
                                                                    <h6 class="heading heading-h5">The car is a runner (we consider non runners but the price is obviously effected).</h6>
                                                                </div>
                                                            </div>

                                                            <div class="list-header with-ckeck">
                                                                <div class="marker"></div>
                                                                <div class="title-wrap">
                                                                    <h6 class="heading heading-h5">The car is not an insurance write off and hasn’t been damaged in an accident.</h6>
                                                                </div>
                                                            </div>
                                                            <div class="list-header with-ckeck">
                                                                <div class="marker"></div>
                                                                <div class="title-wrap">
                                                                    <h6 class="heading heading-h5">It has two sets of keys.</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- End Single List -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- End Form Area -->
            </div>
        </div>
    </div>
</div>