<div class="the-letting-station-block">
    <h3>The Perfect Property Platform</h3>
    <div>
        <form action="/property-search" method="get" id="lettingSearch">
            <input name="status" type="hidden" id="lettingSearchStatus">
            <button type="button" id="lettingSearchSales" style="background-image: url('/assets/uploads/1617640929_TLS-ForSale.png')">
                {#<span>Sales</span>#}
            </button>
            <input name="keyword" placeholder="e.g. Cardiff" value="">
            <button type="button" id="lettingSearchRent" style="background-image: url('/assets/uploads/1617640922_TLS-ToRent.png')">
                {#<span>Rent</span>#}
            </button>
        </form>
    </div>
</div>

{% includeJsFile "https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" %}
{% set myJs %}
    $( "#lettingSearch #lettingSearchSales" ).click(function() {
        $( "#lettingSearchStatus" ).val("Sales");
        $( "#lettingSearch" ).submit();
    });
    $( "#lettingSearch #lettingSearchRent" ).click(function() {
        $( "#lettingSearchStatus" ).val("Lettings");
        $( "#lettingSearch" ).submit();
    });
{% endset %}

{% includeJs myJs %}