{% extends '/template_2/_layout' %}

{% block main %}
    <!-- Page Content -->
    <main class="page-content">

        {% include '/template_2/_components/_case_studies_detail_list' %}

    </main>
{% endblock %}
