 {% if craft.request.getParam('q') is not null %}
     {% paginate craft.entries.section('blog').search({
         query: craft.request.getQuery('q'),
         subLeft: true,
     }).limit(8) as pageInfo, pageEntries %}
 {% else %}
     {% paginate craft.entries.section('blog').limit(8) as pageInfo, pageEntries %}
 {% endif %}

{% for blog in pageEntries %}
    {% include '/template_2/blog/_single_blog' with {'blog' : blog} %}
{% endfor %}

<div class="brook-pagination-wrapper text-center pt--80 pt_sm--40">
    <ul class="brook-pagination">
        {% if pageInfo.prevUrl %}<a href="{{ pageInfo.prevUrl }}"><li class="active">Prev Page</li></a>{% endif %}
        {% if pageInfo.nextUrl %}<a href="{{ pageInfo.nextUrl }}"><li>Next Page</li></a>{% endif %}
    </ul>
</div>