

<!-- Start Before & After Slider -->
<div class="before-after py-80">
    <div class="container">
    <div class="row justify-content-center">
            <div id="beer-slider" class="beer-slider beer-ready" data-beer-label="Before">
                <img class="img-responsive" src="https://www.fineshining.co.uk/themes/default/assets/img/BeforeKitchenClean.jpg" alt="Kitchen Before">
                <div class="beer-reveal" data-beer-label="After" style="width: 50%;">
                    <img class="img-responsive" src="https://www.fineshining.co.uk/themes/default/assets/img/AfterKitchenClean.jpg" alt="Kitchen After" style="width: 1140px;">
                </div>
                <input type="range" class="beer-range" aria-label="Percent of revealed content" aria-valuemin="0" aria-valuemax="100" aria-valuenow="50" value="50" min="0" max="100">
                <span class="beer-handle" style="left: 50%;"></span>
            </div>
        </div>
    </div>
</div>
<!-- End Before & After Slider -->